.welcomeWrapper {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

@keyframes slide {
  0% {
    bottom: 200px;
  }
  100% {
    bottom:0px ;
  }
}

@keyframes slideSide {
  0% {
    right: 100vw;
  }
  100% {
    right: 0vw;
  }
}

.welcomeTitle {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  animation: slide 500ms ease 0s 1 alternate both;
}

h1.welcomeTitle:nth-child(2) {
  margin-top: 20px;
  animation: slideSide 500ms ease 500ms 1 alternate both;
}

.welcomeImg {
  object-fit: contain;
  width: calc(100vw - 70px);
  max-width: 250px;
  margin-top: 50px;
}

.btnWrapper {
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  font-size: 24px;
  flex-direction: column;
}

.welcomeButton {
  font-size: 16px;
}